@import url(fontawesome.css);
@import url("<link href='https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900' rel='stylesheet'>");

body, html *{
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}
body{
  background-color: #fff;
}
*{
  /* border: 1px solid red; */
}

a {
  color: #3CF;
  text-decoration: none;
}

a:hover {
  color: #FC3;
  text-decoration: none;
}

ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

p {
  font-size: 13px;
  line-height: 22px;
}
