section.coming-soon {
    background-image: url(../../Fotos/casaBackground.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right ;
    background-color: #172238;
    padding: 03% 0px;
    min-height: 200vh;
    max-height: 200vh;
}

section.coming-soon  h3 {
    margin-top: 5%;
    text-align: center;
    border-radius: 10px;
    font-size: 25px;
    color: #fff;
    font-weight: bold;
    letter-spacing: 0.4px;
    line-height: 10px;
    margin-bottom: 30px;
   
}

section.coming-soon p {
    margin-left: 8%;
    text-align: right;
    border-radius: 10px;
    margin-top: 10px;
    font-size: 20px;
    color: #fff; 
    letter-spacing: 0.2px;
    line-height: 30px;
    margin-bottom: 20px;
}
section.coming-soon p em {
    font-style: normal;
    color: #fcd732;
    filter:brightness(150%);
}


section.coming-soon .placa{
    max-width:20%;
    min-width:10%;
    min-height: auto;
    transform: rotate(-30deg);
    margin-left: 30%;
}


#bg-video2 {
    margin: 0px;
    margin-left: 10%;

    min-height: 70vh;
    max-height: 70vh;
    min-width: 70%;
    max-width: 70%;
    object-fit: cover;
    border: 3px solid white;
}

section.coming-soon .nr35{
    margin-top: 10%;
    max-width: 100%;
    min-width: 100%;
    min-height: auto;
    max-height: auto;
    background-color: #172238;
}



@media screen and (max-width: 967px) {

    section.coming-soon .placa{
        min-width: 30%;
        margin-left: 40%;
        margin-bottom: 10%;
      }
      
section.coming-soon p {
    margin-left: 4%;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
    font-size: 20px;
    color: #fff; 
    letter-spacing: 0.2px;
    line-height: 30px;
    margin-bottom: 20px;
    max-width: 91%;
}
    section.coming-soon .nr35{
        visibility:hidden;
    }

    section.coming-soon{
        max-width: 100vw;
        min-height: 160vh;
    }
    #bg-video2 {
      
        padding: 0;
        min-width: 80%;
        max-width: 80%;
        margin: auto;
        margin-left: 10%;
    }
  section.coming-soon h3 {
    margin-top: 20%;

    text-align: center;
  }
  section.coming-soon{
    max-width: 100vw;
    min-width: 100vw;
}   
section.coming-soon .col-md{
    padding-right: 0px;
}

  
}

